<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Test_Case.T02_LoginPageValidation"/>
      <class name="Test_Case.T04_LoginPageValidationExcel"/>
      <class name="Test_Case.T05_LoginPageValidation"/>
      <class name="Test_Case.T01_HomePageValidation"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
